#a {
    height: 200px;
    width: 200px;
    border: 2px solid purple;
    float: left;
    margin: 20px;
    background-image: linear-gradient(to right, red, blue);
}

#b {
    height: 200px;
    width: 200px;
    border: 2px solid purple;
    float: left;
    margin: 20px;
    background-image: radial-gradient(yellow, blue);
}

#c {
    height: 200px;
    width: 200px;
    border: 2px solid purple;
    float: left;
    clear: left;
    margin: 20px;
    background-image: linear-gradient(violet, indigo, blue, green, yellow, orange, red);
}

#d {
    height: 200px;
    width: 200px;
    border: 2px solid purple;
    float: left;

    margin: 20px;
    background-image: linear-gradient(to bottom right, red, green, blue);
}