.tooltip {
    position: relative;
    display: inline-block;
    padding: 2px;
    border: 1px dotted black;
    
}

.tooltip .tooltiptext {

    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    transform: translate(0, 200px);
    /* z-index: 1; */
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    transition: all;
    transition-duration: 500ms;
}