/* pseudo class selectors */

#google:hover {
    background-color: brown;
}

a:visited {
    color: red;
}

a.abc:hover {
    color: black;
    background-color: skyblue;
}

.abc:hover {
    color: black;
    background-color: green;
}

a:hover {
    color: black;
    background-color: lime;
}

div:hover {
    color: magenta;
    background-color: yellow;
    background-image: url("flower.png");
    background-size: 200px;
    /* background-repeat: no-repeat; */
    background-position: center;
}

#fname:focus {
    text-transform: uppercase;
    background-color: gold;
}

input:checked {
    margin: 10px;
}

/* pseudo element selectors */

p::first-line {
    color: darkblue;
}

p::first-letter {
    color: red;
}

p::selection {
    color: purple;
    background-color: lime;
}

li::marker {
    color: gold;
    text-transform: uppercase;
    font-size: 25px;
}

h1::before {
    content: url("monitor.png");
}

/* Attribute selectors */

a[target] {
    color: green;
}

a[target="_blank"] {
    color: gray;
}

ol[type="A"] {
    color: green;
}

/* descendant of div */
div li[type="I"] {
    color: purple;
}
/* immediate descendant of div */
div > li[type="I"] {
    color: magenta;
}